@page
@using PivotSharp.WebCore.Models
@model IndexModel
@{
}

<div class="row">
    @foreach (var kvp in Model.Configs) {

        <div class="col-4">

            <div class="card bg-secondary mb-3" style="min-height:300px;">
                <div class="card-header">@kvp.Key</div>
                <div class="card-body">
                    <partial name="_PivotConfig" model="new PivotConfigViewModel { Id = kvp.Key, Config = kvp.Value }" />
                    <a class="btn btn-raised btn-info pull-right" style="margin-top:0; margin-bottom: 0;" href=@($"/Data/View?id={kvp.Key}")>View</a>
                </div>
            </div>
        </div>
    }
</div>