@page "{id:int}"
@model ViewModel
@{
}

<div class="row" style="margin-top: 20px;">
    <div class="col-12">
        <div class="card bg-secondary mb-3">
            <h5 class="card-header">
                @Model.PivotTableViewModel.Config.Aggregators[0].ColumnName
                pivoted by
                @string.Join(",", Model.PivotTableViewModel.Config.Rows)
                and
                @string.Join(",", Model.PivotTableViewModel.Config.Cols)
            </h5>
            <div class="card-body">
                <partial name="_PivotTable" model="Model.PivotTableViewModel.PivotTable" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('.data-cell'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });

    const reportId = @Model.PivotTableViewModel.Id;
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.data-cell').forEach(cell => {
            cell.addEventListener('click', (e) => {
                window.open(`/QueryBuilder/DrillDown/${reportId}?rowKeys=${cell.dataset.rowKey}&colKeys=${cell.dataset.colKey}`, '_blank');
            });
            cell.addEventListener
        });
    });
</script>
}

